
<div class="container">

  <h2>Step 1: Personal Details</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last name" }%>
      <%= f.input :date_of_birth,
                  required: true,
                  autofocus: true,
                  start_year: Time.now.year - 100,
                  end_year: Time.now.year - 0,
                  input_html: { autocomplete: "date of birth" }%>
      <%= f.input :nationality,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nationality" }%>
      <%= f.input :contact_number,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "contact number" }%>
      <%= f.input :user_type, as: :select, collection: [['doctor', 'Doctor'], ['patient', 'Patient']], label_method: :second, value_method: :first,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "User Type" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Next" %>
    </div>
  <% end %>

</div>

