<div class=" container">

<% if current_user.user_type == 'doctor' %>
  <div class="mb-1">
  <%= link_to "Create A Consultation", new_consultation_path, class:"btn btn-info" %>
  </div>

    <table class="table table-striped table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Date Of Consultation</th>
          <th scope="col">Patient</th>
          <th scope="col">Number Of Prescriptions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @consultations.each do |consultation| %>
        <tr>
          <th scope="row"><%= consultation.created_at.strftime("%B %e, %Y, %I:%m%P") %></th>
          <td>Dr. <%= consultation.patient.user.first_name + " " + consultation.patient.user.last_name  %></td>
          <td><%= consultation.prescriptions.length %></td>
          <td>
            <div>
                <%= link_to "View Consultation", consultation_path(consultation), class:"btn btn-primary" %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

  <% if current_user.user_type == 'patient' %>

   <table class="table table-striped table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Date Of Consultation</th>
          <th scope="col">Consulted By</th>
          <th scope="col">Number Of Prescriptions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @consultations.each do |consultation| %>
        <tr>
          <th scope="row"><%= consultation.created_at.strftime("%B %e, %Y, %I:%m%P") %></th>
          <td>Dr. <%= consultation.doctor.user.first_name + " " + consultation.doctor.user.last_name  %></td>
          <td><%= consultation.prescriptions.length %></td>
          <td><%= link_to "View Consultation", consultation_path(consultation)   %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>



</div>
