<%= render 'shared/sidebar' %>
<div class="container">
  <div>
    <h1> Consultation with <%= @consultation.patient.user.first_name  %> <%= @consultation.patient.user.last_name  %></h1>
  </div>
  <div>
    <% if @consultation.prescriptions.length == 0 %>
      <h2>No medicine prescribed yet.</h2>
    <% else %>
      <% @consultation.prescriptions.each do |prescription|  %>
        <div>
          <%= prescription.medicine.name %> - <%= prescription.medicine.strength_of_medicine  %> - Take <%= prescription.amount_per_serving  %>, <%= prescription.servings_per_day  %> per day, for <%= prescription.number_of_days  %> days. <%= prescription.comment  %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if current_user.user_type == 'patient' %>
    <div>
      <%= link_to "Back To All Consultations", consultations_path %>
    </div>
  <% end %>
  <div>
    <% if current_user.user_type == 'doctor' %>
      <%= simple_form_for [@consultation, @prescription] do |f| %>

        <%= simple_fields_for :other do |o| %>
        <div class="d-flex">
          <%= o.input :name, label: 'Name' %>
          <%= o.input :strength_of_medicine, label: 'Strength of Medicine' %>
        <% end %>
        </div>
        <div class="d-flex">
          <%= f.input :amount_per_serving %>
          <%= f.input :servings_per_day %>
          <%= f.input :number_of_days %>
        </div>
          <%= f.input :comment %>
          <%= f.button :submit, "Prescribe" %>
      <% end %>

      <%= link_to "Complete Consultation", consultations_path %>

    <% end %>
  </div>
</div>
