<div class="nav-bar px-3">
  <% if !user_signed_in? %>
    <%= link_to home_path do %>
      <%= image_tag 'logo.png', height: "60px", class: 'logo' %>
    <% end %>
  <% elsif current_user.user_type == 'doctor' && current_user.doctor %>
    <%= link_to doctor_path(current_user.doctor) do %>
      <%= image_tag 'logo.png', height: "60px", class: 'logo' %>
    <% end %>
  <% elsif current_user.user_type == 'patient' && current_user.patient %>
    <%= link_to patient_path(current_user.patient) do %>
      <%= image_tag 'logo.png', height: "60px", class: 'logo' %>
    <% end %>
    <% else %>
      <%= link_to home_path do %>
        <%= image_tag 'logo.png', height: "60px", class: 'logo' %>
      <% end %>
  <% end %>

  <% if !user_signed_in? %>
    <div class="nav-bar-out">
        <%= link_to "Login", new_user_session_path, class: "login-btn" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-item" %>
    </div>
  <% else %>
    <div class="nav-bar-in">
      <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "login-btn" %>
        <% if current_user.user_type == 'doctor' %>
          <%= link_to "Create A Consultation", new_consultation_path, class:"btn consultation-button" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
