<div class="container">
  <h2>Step 2: Verification Details</h2>

  <%= simple_form_for @doctor do |f| %>
  <%= f.input :medical_licence_number %>
  <%= f.input :country_of_doctor_licence, as: :string %>
  <%= f.input :clinic_of_practice %>
  <%= f.input :address_of_clinic_string %>
  <%= f.button :submit, "Complete Registration" %>
  <% end %>

</div>
