<h1><%= @doctor.user.first_name %> <%= @doctor.user.last_name %></h1>
<h3><%= @doctor.clinic_of_practice %></h3>
<h3><%= @doctor.address_of_clinic_string %></h3>
<h3><%= @doctor.medical_licence_number %></h3>
