<div class="container w-50 mt-3 p-3 rounded rounded-card" style="background-color: #efefef">
  <div class="row py-4">
    <div class="col">
      <h1 class="text-center mb-3">Checkout summary</h1>
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Medicine Name</th>
              <th scope="col">Total Tablets</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @prescriptions.each do |prescription| %>
              <% total_tablets = prescription.amount_per_serving * prescription.number_of_days * prescription.servings_per_day %>
            <tr>
              <th scope="row"><%= prescription.medicine.name %></th>
              <td><%= total_tablets.to_i %></td>
              <td><%= humanized_money_with_symbol prescription.price %></td>
            <% end %>
            </tr>
            <tr class="table-dark" style="color: black;">
              <td>Total Cost</td>
              <td></td>
              <td><%= humanized_money_with_symbol @order.total_cost %></td>
            </tr>
          </tbody>
        </table>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>


